##################################################
# Google Apps Script
##################################################

.clasp.json

##################################################
# Node
##################################################

node_modules/

##################################################
# Logs
##################################################

npm-debug.log*
yarn-debug.log*
yarn-error.log*

##################################################
# macOS
##################################################

.DS_Store

##################################################
# Windows
##################################################

Thumbs.db

##################################################
# VS Code
##################################################

.vscode/settings.json

##################################################
# Temporary Files
##################################################

*.tmp
*.temp
*.bak
*.swp

##################################################
# Environment
##################################################

.env
.env.*